includes:
	#- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
	- ../../vendor/nunomaduro/larastan/extension.neon

parameters:
    bootstrapFiles:
        - %rootDir%/../../nunomaduro/larastan/bootstrap.php
    paths:
        - ../../app
        # - ../../bootstrap/*.php
        - ../../config
    level: max
    ignoreErrors:
        ## phpstan 0.11 to 0.12
        - '#has no typehint specified\.$#'
        - '#has no return typehint specified\.$#'
        - '#with no typehint specified\.$#'
        - '#with no value type specified in iterable#'
        - '#has no value type specified in iterable#'
        # Related with https://github.com/phpstan/phpstan-mockery/issues/8
        - '#Mockery.*::andReturn.*#'
        ## mercadopago official library
        - '#Access to protected property MercadoPago\\Entities\\Shared\\Payment#'
        ## eiphp
        - '#Access to an undefined property User\:\:\$correo.#'
        ## PivotEventObserverTrait
        - '#Variable method call on.*Pivot.*#'
    reportUnmatchedIgnoredErrors: true

    #### FROM phpstan-strict-rules/rules.neon
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    reportMaybesInMethodSignatures: false
    reportStaticMethodSignatures: true

## FROM phpstan-strict-rules/rules.neon
rules:
    # - PHPStan\Rules\BooleansInConditions\BooleanInBooleanAndRule
    # - PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanOrRule
    - PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
    # - PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
    # - PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule
    # - PHPStan\Rules\Cast\UselessCastRule
    # - PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
    # - PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
    # - PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
    # - PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
    # - PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
    # - PHPStan\Rules\Methods\MissingMethodParameterTypehintRule
    # - PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
    # - PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
    # - PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
    # - PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
    # - PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
    # - PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
    # - PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
    - PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
    # - PHPStan\Rules\Properties\MissingPropertyTypehintRule
    # - PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
    - PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
    - PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
    - PHPStan\Rules\VariableVariables\VariableMethodCallRule
    - PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
    - PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
    - PHPStan\Rules\VariableVariables\VariableVariablesRule
services:
    -
        class: PHPStan\Rules\BooleansInConditions\BooleanRuleHelper
    -
        class: PHPStan\Rules\Operators\OperatorRuleHelper
