includes:
    # - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../vendor/phpstan/phpstan-phpunit/rules.neon
    #- ../../vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - ../../tests
    level: max
    reportUnmatchedIgnoredErrors: true
